@import "../mixins";

.featurebar {
  background: #039be5;
  @include display(flex);
  @include flex-direction(column);
  @include box-shadow(0 0 0 transparent);
  position: relative;
  @include transition(box-shadow .3s ease);
  z-index: 10;
  position: relative;
  padding: 8px 24px 0 24px;
  min-height: 36px;
}

.featurebar .featurebar-main {
  @include box-sizing(border-box);
  position: relative;
  padding: 8px 24px 0 24px;
  min-height: 36px;
  @include display(flex);
  @include flex-direction(row);
  @include flex-wrap(wrap);
  @include align-items(flex-end);
}

.featurebar .featurebar-title-area {
  position: relative;
  margin-right: 16px;
  @include display(flex);
  @include flex-direction(row);
  @include align-items(center);
  @include flex(99999 1 auto);
  min-width: 0;
}
.featurebar .featurebar-title-area, .featurebar .featurebar-actions-area {
  height: 40px;
  margin-bottom: 8px;
}
.featurebar .featurebar-title {
  color: white;
  font-size: 20px;
  line-height: 24px;
  @include text-truncate();
}